/*I have re used some of my css from my assignment 1 like for the nav so i don't have to create it again*/
/*
    Alister Faid 22171016
    contains all the stle info for all of this's assignments components
*/
:root{
    /*use with var(--coulorname)*/

    --background:#FAF9F6 ;

    --navBackground: #4b5752;
    --navButton: #83ebc1;

    --textColour: black;

    --formBackground: #dddbc9;
    --normalButton: #7fbad4;
    --normalHover: #45a049;
    

}

.container-fluid {
    background-color: var(--background);
    color: var(--textColour);
    border-radius: 25px;
    margin: auto;
    margin-top: 0.5%;
}

.page_title {
    text-align: center;
    color: var(--textColour);
    margin-bottom: 25px;
    border-bottom: 2px solid #e9ecef;
    padding-bottom: 15px;
}


.nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    align-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--navBackground);
    border-radius: 12px;
}

.nav .btn {
    background-color: var(--navButton);
}

.booking {
    display: flex;
    flex-direction: column;
    align-content:center;
    
}

.form_container{
    background-color: var(--formBackground);
    padding: 10px;
    
    margin: 4px auto;
    border-radius: 10px;
    
    

    .btn{
        background-color: var(--normalButton);
    }

    .btn:hover {
        background-color: var(--normalHover);
    }

    .form_item{
        /*used tp standise the */
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        
        
        label {
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        input{
            padding: 7px;
            border: 1px solid #ccc;
            border-radius: 6px;
        }
       

    }
}

#reference {
    background-color: #e6f7ec;
    border: 2px solid #a1d6b5;
    padding: 15px 20px;
    margin: 20px auto;
    border-radius: 10px;
}
